@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2');
    src: url('../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2');
    src: url('../fonts/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2');
    src: url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.woff2') format('woff2');
    src: url('../fonts/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

html, body {
    font-size: 12px;
    font-family: 'Open Sans', 'Arial', sans-serif;
}

.template-width {
    max-width: 1400px;
    margin: 0 auto;
}

.content {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
}

.flex-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
}

.select {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.menu-list__item {
    list-style: none;
}

.menu-list__link {
    text-decoration: none;
}

.button {
    border: none;
    outline: none;
    background: none;
}

/*header-top, стили для хедера*/
.header-top {
    background-color: #4cb1ca;
}

.header-select__text {
    color:  #bef3ff;
    font-size: 1rem;
    font-weight: 400;
    margin-right: 5px;
}

.header__select {
    background-color: #4cb1ca;
    color:  #ffffff;
    font-size: 1rem;
    font-weight: 400;
}

/*.header__select::after {*/
    /*content: "";*/
    /*display: block;*/
    /*width: 10px;*/
    /*height: 6px;*/
    /*background: url("../img/arrow-down.png") center no-repeat;*/
/*}*/

.top-menu__item {
    padding: 0 10px;
    border-right: 1px solid #ffffff;
}

.top-menu__item:last-child {
    padding-right: 0;
    border: none;
}

.top-menu__link {
    color: #ffffff;
    padding: 10px 0;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.top-menu__link:hover {
    color: #9ae2f4;
}

/*header-bottom, стили для хедера*/
.header-bottom__wrap {
    padding: 40px 0;
}

.logo__link {
    color:  #656565;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.bottom-menu__item {
    padding: 0 10px;
}

.bottom-menu__link {
    color:  #656565;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.bottom-menu__link:hover {
    color: #9ae2f4;
}

.header-bottom__search,
.header-search__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__form {
    position: relative;
    margin-right: 15px;
}

.header-form__search {
    border: 1px solid #c6c6c6;
    width: 174px;
    padding: 5px;
    outline: none;
}

.header-form__search::-webkit-input-placeholder {
    color:  #b7b7b7;
    font-size: 0.9rem;
    font-weight: 400;
}

.header-form__search:-moz-placeholder {
    color:  #b7b7b7;
    font-size: 0.9rem;
    font-weight: 400;
}

.header-form__search::-moz-placeholder {
    color:  #b7b7b7;
    font-size: 0.9rem;
    font-weight: 400;
}

.header-form__search:-ms-input-placeholder {
    color:  #b7b7b7;
    font-size: 0.9rem;
    font-weight: 400;
}

.header-form__search:focus::-webkit-input-placeholder {
    opacity:0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.header-form__search:focus:-moz-placeholder {
    opacity:0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.header-form__search:focus::-moz-placeholder {
    opacity:0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.header-form__search:focus:-ms-input-placeholder {
    opacity:0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.header-form__btn {
    position: absolute;
    top: 4px;
    right: 0;
}

.header-form__btn:hover {
    cursor: pointer;
}

.header-search__icon {
    display: block;
    width: 35px;
    height: 35px;
}

.header-search__tag {
    background: url("../img/tags.png") center no-repeat;
    margin-right: 5px;
}

.header-search__cart {
    background: url("../img/cart.png") center no-repeat;
    margin-right: 15px;
}

.header-search__text {
    color:  #656565;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
}

/*slider слайдер*/
.slider {
    position: relative;
    width: 1400px;
    height: 475px;
}

.slider-arrow__prev {
    position: absolute;
    top: 204px;
    left: 120px;
    z-index: 100;
}

.slider-arrow__next {
    position: absolute;
    top: 204px;
    right: 120px;
    z-index: 100;
}

.slider-arrow__prev::after {
    content: '';
    display: block;
    width: 67px;
    height: 67px;
    background: url("../img/css_sprites (1).png") no-repeat -10px -10px;
    /*-webkit-transition: opacity 0.3s;*/
    /*-moz-transition: opacity 0.3s;*/
    /*-ms-transition: opacity 0.3s;*/
    /*-o-transition: opacity 0.3s;*/
    /*transition: opacity 0.3s;*/
}

.slider-arrow__prev:hover::after {
    background: url("../img/css_sprites (1).png") no-repeat -97px -10px;
}

.slider-arrow__next::after {
    content: '';
    display: block;
    width: 67px;
    height: 67px;
    background: url("../img/css_sprites (1).png") no-repeat -10px -97px;
}

.slider-arrow__next:hover::after {
    background: url("../img/css_sprites (1).png") no-repeat -97px -97px;
}

.slider__item {
    position: relative;
}

.slide2, .slide3 {
    display: none;
}

.slider-text__wrap {
    position: absolute;
    top: 190px;
    left: 235px;
}

.slider-item__text {
    margin: 0;
    padding: 8px 12px;
    background: rgba(0, 0, 0, 0.5);
    color:  #ffffff;
    font-size: 28px;
    font-weight: 300;
    text-transform: uppercase;
}

.slider-item__text:first-child {
    max-width: 250px;
    margin-bottom: 2px;
}

.slider-item__text-bold {
    font-weight: 700;
}

/*main-content основной блок с контентом*/
.main-content {
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
}

.products {
    width: 100%;
}

/*products товары*/
.products__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products__item {
    position: relative;
    margin-bottom: 25px;
    padding: 10px;
    width: 30%;
    height: 300px;
    box-shadow: 0 0 5px rgba(206, 237, 210, 0.7);
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
}

.products__item:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.products__heading {
    margin: 0 0 24px;
    color:  #635f57;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
}

.products-img__wrap {
    position: relative;
    width: 210px;
    height: 210px;
    overflow: hidden;
}

.products-item__text {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    text-decoration: none;
}

.products__name {
    margin: 0;
    color:  #464148;
    font-size: 1.1rem;
    font-weight: 400;
}

.products__price {
    margin: 5px 0 0;
    color:  #7db122;
    font-size: 1.5rem;
    font-weight: 400;
}

.products__cart::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background: url("../img/css_sprites (1).png") -184px -10px no-repeat;
}

.products__cart:hover::after {
    background: url("../img/css_sprites (1).png") -184px -80px no-repeat;
}

.products__item--new::before {
    content: '';
    display: block;
    width: 95px;
    height: 90px;
    background: url("../img/new.png") center no-repeat;
    position: absolute;
    top: -2px;
    right: -2px;
    z-index: 10;
}

.products__item--sale::before {
    content: '';
    display: block;
    width: 95px;
    height: 90px;
    background: url("../img/sale.png") center no-repeat;
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: 10;
}

/*sidebar боковая панель*/
.sidebar {
    padding-left: 30px;
}

.sidebar__slider {
    position: relative;
    width: 240px;
    height: 485px;
    overflow: hidden;
}

.sidebar-slide2, .sidebar-slide3 {
    display: none;
}

.sidebar-slider__item {
}

.sidebar-img__wrap {
    width: 210px;
    height: 435px;
}

.sidebar-slider__text {
    position: absolute;
    top: 25px;
    left: 60px;
    color:  #635f57;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.sidebar-slider__button {
    position: absolute;
    top: 370px;
    left: 50px;
    display: block;
    background-color:  #4cb1ca;
    width: 132px;
    height: 44px;
    color:  #ffffff;
    font-size: 1.1rem;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    line-height: 44px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.sidebar-slider__button:hover {
    background-color: #9ae3f4;
}

/*delivery блок доставки и звонков*/
.delivery {
    background: #4cb1ca;
}

.delivery__content {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 ;
}

.delivery__item {
    display: flex;
    align-items: center;
}

.delivery__text {
    color:  #ffffff;
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
}

.delivery-shipping__link {
    display: block;
    width: 65px;
    height: 65px;
    background: #ffffff url("../img/delivery.png") center no-repeat;
    border-radius: 50%;
    margin-right: 20px;
}

.delivery-call_link {
    display: block;
    width: 65px;
    height: 65px;
    background: #ffffff url("../img/phone.png") center no-repeat;
    border-radius: 50%;
    margin-right: 20px;
}

.delivery__text a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 5px;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}