@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2');
    src: url('../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2');
    src: url('../fonts/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2');
    src: url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.woff2') format('woff2');
    src: url('../fonts/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

html, body {
    font-size: 12px;
    font-family: 'Open Sans', 'Arial', sans-serif;
}

.template-width {
    max-width: 1400px;
    margin: 0 auto;
}

.content {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
}

.flex-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
}

.select {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.menu-list__item {
    list-style: none;
}

.menu-list__link {
    text-decoration: none;
}

.button {
    border: none;
    outline: none;
    background: none;
}

/*header-top, стили для хедера*/
.header-top {
    background-color: #4cb1ca;
}

.header-select__text {
    color:  #bef3ff;
    font-size: 1rem;
    font-weight: 400;
    margin-right: 5px;
}

.header__select {
    background-color: #4cb1ca;
    color:  #ffffff;
    font-size: 1rem;
    font-weight: 400;
}

/*.header__select::after {*/
    /*content: "";*/
    /*display: block;*/
    /*width: 10px;*/
    /*height: 6px;*/
    /*background: url("../img/arrow-down.png") center no-repeat;*/
/*}*/

.top-menu__item {
    padding: 0 10px;
    border-right: 1px solid #ffffff;
}

.top-menu__item:last-child {
    padding-right: 0;
    border: none;
}

.top-menu__link {
    color: #ffffff;
    padding: 10px 0;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.top-menu__link:hover {
    color: #9ae2f4;
}

/*header-bottom, стили для хедера*/
.header-bottom__wrap {
    padding: 40px 0;
}

.logo__link {
    color:  #656565;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.bottom-menu__item {
    padding: 0 10px;
}

.bottom-menu__link {
    color:  #656565;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.bottom-menu__link:hover {
    color: #9ae2f4;
}

.header-bottom__search,
.header-search__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__form {
    position: relative;
    margin-right: 15px;
}

.header-form__search {
    border: 1px solid #c6c6c6;
    width: 174px;
    padding: 5px;
    outline: none;
}

.header-form__search::-webkit-input-placeholder {
    color:  #b7b7b7;
    font-size: 0.9rem;
    font-weight: 400;
}

.header-form__search:-moz-placeholder {
    color:  #b7b7b7;
    font-size: 0.9rem;
    font-weight: 400;
}

.header-form__search::-moz-placeholder {
    color:  #b7b7b7;
    font-size: 0.9rem;
    font-weight: 400;
}

.header-form__search:-ms-input-placeholder {
    color:  #b7b7b7;
    font-size: 0.9rem;
    font-weight: 400;
}

.header-form__search:focus::-webkit-input-placeholder {
    opacity:0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.header-form__search:focus:-moz-placeholder {
    opacity:0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.header-form__search:focus::-moz-placeholder {
    opacity:0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.header-form__search:focus:-ms-input-placeholder {
    opacity:0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.header-form__btn {
    position: absolute;
    top: 4px;
    right: 0;
}

.header-form__btn:hover {
    cursor: pointer;
}

.header-search__icon {
    display: block;
    width: 35px;
    height: 35px;
}

.header-search__tag {
    background: url("../img/tags.png") center no-repeat;
    margin-right: 5px;
}

.header-search__cart {
    background: url("../img/cart.png") center no-repeat;
    margin-right: 15px;
}

.header-search__text {
    color:  #656565;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}