@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2');
    src: url('../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2');
    src: url('../fonts/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2');
    src: url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.woff2') format('woff2');
    src: url('../fonts/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

html, body {
    font-size: 12px;
    font-family: 'Open Sans', 'Arial', sans-serif;
}

.template-width {
    box-shadow: 0 0 35px 3px rgba(0, 0, 0, 0.2);
    max-width: 1400px;
    margin: 0 auto;
}

.content {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
}

.flex-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
}

.select {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.menu-list__item {
    list-style: none;
}

.menu-list__link {
    text-decoration: none;
}

.button {
    border: none;
    outline: none;
    background: none;
}

/*header-top, стили для хедера*/
.header-top {
    background-color: #4cb1ca;
}

.header-select__text {
    color:  #bef3ff;
    font-size: 1rem;
    font-weight: 400;
    margin-right: 5px;
}

.header__select {
    background-color: #4cb1ca;
    color:  #ffffff;
    font-size: 1rem;
    font-weight: 400;
}

/*.header__select::after {*/
    /*content: "";*/
    /*display: block;*/
    /*width: 10px;*/
    /*height: 6px;*/
    /*background: url("../img/arrow-down.png") center no-repeat;*/
/*}*/

.top-menu__item {
    padding: 0 10px;
    border-right: 1px solid #ffffff;
}

.top-menu__item:last-child {
    padding-right: 0;
    border: none;
}

.top-menu__link {
    color: #ffffff;
    padding: 10px 0;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.top-menu__link:hover {
    color: #9ae2f4;
}

/*header-bottom, стили для хедера*/
.header-bottom__wrap {
    padding: 40px 0;
}

.logo__link {
    color:  #656565;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.bottom-menu__item {
    padding: 0 10px;
}

.bottom-menu__link {
    color:  #656565;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.bottom-menu__link:hover {
    color: #9ae2f4;
}

.header-bottom__search,
.header-search__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__form {
    position: relative;
    margin-right: 15px;
}

.header-form__search {
    border: 1px solid #c6c6c6;
    width: 174px;
    padding: 5px;
    outline: none;
}

.header-form__search::-webkit-input-placeholder {
    color:  #b7b7b7;
    font-size: 0.9rem;
    font-weight: 400;
}

.header-form__search:-moz-placeholder {
    color:  #b7b7b7;
    font-size: 0.9rem;
    font-weight: 400;
}

.header-form__search::-moz-placeholder {
    color:  #b7b7b7;
    font-size: 0.9rem;
    font-weight: 400;
}

.header-form__search:-ms-input-placeholder {
    color:  #b7b7b7;
    font-size: 0.9rem;
    font-weight: 400;
}

.header-form__search:focus::-webkit-input-placeholder {
    opacity:0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.header-form__search:focus:-moz-placeholder {
    opacity:0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.header-form__search:focus::-moz-placeholder {
    opacity:0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.header-form__search:focus:-ms-input-placeholder {
    opacity:0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.header-form__btn {
    position: absolute;
    top: 4px;
    right: 0;
}

.header-form__btn:hover {
    cursor: pointer;
}

.header-search__icon {
    display: block;
    width: 35px;
    height: 35px;
}

.header-search__tag {
    background: url("../img/css_sprites(1).png") no-repeat -269px -190px;
    margin-right: 5px;
}

.header-search__tag:hover {
    background: url("../img/css_sprites(1).png") no-repeat -10px -269px;
}

.header-search__cart {
    background: url("../img/css_sprites(1).png") no-repeat -269px -80px;
    margin-right: 15px;
}

.header-search__cart:hover {
    background: url("../img/css_sprites(1).png") no-repeat -269px -135px;
}

.header-search__text {
    color:  #656565;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
}

/*slider слайдер*/
.slider {
    position: relative;
    width: 1400px;
    height: 475px;
}

.slider-arrow__prev {
    position: absolute;
    top: 204px;
    left: 120px;
    z-index: 100;
}

.slider-arrow__next {
    position: absolute;
    top: 204px;
    right: 120px;
    z-index: 100;
}

.slider-arrow__prev::after {
    content: '';
    display: block;
    width: 67px;
    height: 67px;
    background: url("../img/css_sprites(1).png") no-repeat -10px -10px;
    /*-webkit-transition: opacity 0.3s;*/
    /*-moz-transition: opacity 0.3s;*/
    /*-ms-transition: opacity 0.3s;*/
    /*-o-transition: opacity 0.3s;*/
    /*transition: opacity 0.3s;*/
}

.slider-arrow__prev:hover::after {
    background: url("../img/css_sprites(1).png") no-repeat -97px -10px;
}

.slider-arrow__next::after {
    content: '';
    display: block;
    width: 67px;
    height: 67px;
    background: url("../img/css_sprites(1).png") no-repeat -10px -97px;
}

.slider-arrow__next:hover::after {
    background: url("../img/css_sprites(1).png") no-repeat -97px -97px;
}

.slider__item {
    position: relative;
}

.slide2, .slide3 {
    display: none;
}

.slider-text__wrap {
    position: absolute;
    top: 190px;
    left: 235px;
}

.slider-item__text {
    margin: 0;
    padding: 8px 12px;
    background: rgba(0, 0, 0, 0.5);
    color:  #ffffff;
    font-size: 28px;
    font-weight: 300;
    text-transform: uppercase;
}

.slider-item__text:first-child {
    max-width: 250px;
    margin-bottom: 2px;
}

.slider-item__text-bold {
    font-weight: 700;
}

/*main-content основной блок с контентом*/
/** {*/
    /*outline: 1px solid red;*/
/*}*/
.main-content {
    display: flex;
    justify-content: space-between;
    padding: 45px 0 50px;
}

.products {
    /*width: 100%;*/
}

/*products товары*/
.products__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products__item {
    position: relative;
    margin-bottom: 25px;
    padding: 9px;
    width: 30%;
    height: 300px;
    box-shadow: 0 0 5px rgba(206, 237, 210, 0.7);
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
}

.products__item:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.products__heading {
    margin: 0 0 24px;
    color:  #635f57;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
}

.products-img__wrap {
    position: relative;
    width: 210px;
    height: 210px;
    overflow: hidden;
}

.products-item__text {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    text-decoration: none;
}

.products__name {
    margin: 0;
    color:  #464148;
    font-size: 1.1rem;
    font-weight: 400;
}

.products__price {
    margin: 5px 0 0;
    color:  #7db122;
    font-size: 1.5rem;
    font-weight: 400;
}

.products__price--sale {
    text-decoration: line-through;
    color:  #464148;
    font-size: 1.1rem;
    padding-right: 5px;
}

.products__cart::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background: url("../img/css_sprites(1).png") -180px -184px no-repeat;
}

.products__cart:hover::after {
    background: url("../img/css_sprites(1).png") -269px -10px no-repeat;
}

.products__item--new::before {
    content: '';
    display: block;
    width: 95px;
    height: 90px;
    background: url("../img/new.png") center no-repeat;
    position: absolute;
    top: -2px;
    right: -2px;
    z-index: 10;
}

.products__item--sale::before {
    content: '';
    display: block;
    width: 95px;
    height: 90px;
    background: url("../img/sale.png") center no-repeat;
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: 10;
}

/*sidebar боковая панель*/
.sidebar {
    /*width: 260px;*/
    padding-left: 30px;
}

.sidebar__slider {
    position: relative;
    width: 227px;
    height: 485px;
    box-shadow: 0 0 5px rgba(206, 237, 210, 0.7);
}

.sidebar-slide2, .sidebar-slide3 {
    display: none;
}

.sidebar-slider__slide-wrap {
    padding: 10px;
    box-shadow: 0 2px 2px -1px rgba(206, 237, 210, 0.7);
    border-top: 4px solid #2b9eba;
}

.sidebar-img__wrap {
    width: 207px;
    height: 421px;
    overflow: hidden;
}

.sidebar-slider__text {
    position: absolute;
    top: 25px;
    left: 60px;
    color:  #635f57;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.sidebar-slider__button {
    position: absolute;
    top: 370px;
    left: 50px;
    display: block;
    background-color:  #4cb1ca;
    width: 132px;
    height: 44px;
    color:  #ffffff;
    font-size: 1.1rem;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    line-height: 44px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.sidebar-slider__button:hover {
    background-color: #9ae3f4;
}

/*signup форма подписки*/
.sidebar__signup {
    margin-top: 30px;
    padding: 25px;
    width: 227px;
    box-shadow: 0 0 5px rgba(206, 237, 210, 0.7);
    border-top: 4px solid #2b9eba;
}

.sidebar-signup__heading {
    margin: 0 0 25px;
    color:  #635f57;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.sidebar-signup__text{
    margin: 0;
    color:  #696969;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
}

.sidebar__border {
    margin: 10px auto 15px;
    display: block;
    height: 1px;
    width: 85px;
    background-color:  #ededed;
}

.signup__form {
    text-align: center;
}

.signup__input {
    border: 1px solid rgba(198, 198, 198, 50);
    width: 100%;
    color: #ffffff;
    padding: 8px;
    margin-bottom: 20px;
    outline: none;
}

.signup__button {
    background-color:  #7eb123;
    width: 112px;
    height: 44px;
    color:  #ffffff;
    font-size: 1.1rem;
    font-weight: 400;
    border: none;
    outline: none;
}

/*delivery блок доставки и звонков*/
.delivery {
    background: #4cb1ca;
}

.delivery__content {
    display: flex;
    justify-content: space-between;
}

.delivery__item {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 20px 0;
}

.delivery__text {
    color:  #ffffff;
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
}

.delivery-shipping__img::before {
    content: '';
    display: block;
    width: 65px;
    height: 65px;
    background: url("../img/css_sprites(1).png") -184px -10px no-repeat;
    margin-right: 20px;
}
.delivery-shipping__link:hover .delivery-shipping__img::before {
    background: url("../img/css_sprites(1).png") -184px -95px no-repeat;
}

.delivery-call__img::before {
    content: '';
    display: block;
    width: 65px;
    height: 65px;
    background: url("../img/css_sprites(1).png") -10px -184px no-repeat;
    margin-right: 20px;
}

.delivery-call__link:hover .delivery-call__img::before {
    background: url("../img/css_sprites(1).png") -95px -184px no-repeat;
}

.delivery__text a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 5px;
}

/*footer-top стили футера*/
.footer-top {
    background: #39a0b9;
}

.footer-top__content {
    padding: 50px 0;
    flex-wrap: nowrap;
    align-items: normal;
}

.footer-top__item {
    width: 21%;
}

.footer__heading {
    margin: 0 0 30px;
    color:  #f5f5f5;
    font-size: 1.65rem;
    font-weight: 400;
    text-transform: uppercase;
}

.footer__text {
    color:  #ffffff;
    font-size: 1rem;
    font-weight: 400;
}

.footer__border {
    display: block;
    height: 1px;
    background-color:  #4cb1ca;
}

/*facebook фейсбук*/

.facebook__members {
    font-weight: 300;
    text-transform: capitalize;
}

.facebook__link {
    margin: 5px 0;
    display: block;
    width: 50px;
    height: 25px;
    background: url("../img/facebook-like.png") center no-repeat;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
}

.facebook__link:hover {
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
}

.facebook-photo__wrap {
    padding-top: 7px;
}

.facebook__photo {
    display: block;
    margin-bottom: 7px;
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.facebook__plugin {
    display: inline-block;
    margin-top: 10px;
}

/*information информация*/
.accordion {
    list-style: none;
    padding: 0;
    margin: 0;
}
.accordion__item {
    margin-bottom: 5px;
}

.accordion__input {
    display: none;
}

.accordion__label {
    position: relative;
    z-index: 20;
    cursor: pointer;
}

.accordion-item__menu {
    padding: 0;
    margin-top: 5px;
    overflow: hidden;
    max-height: 0;
    position: relative;
    z-index: 10;
    -webkit-transition: max-height 0.3s;
    -moz-transition: max-height 0.3s;
    -ms-transition: max-height 0.3s;
    -o-transition: max-height 0.3s;
    transition: max-height 0.3s;
}

.accordion__input:checked ~ .accordion-item__menu{
    max-height: 100px;
    -webkit-transition: max-height 0.3s;
    -moz-transition: max-height 0.3s;
    -ms-transition: max-height 0.3s;
    -o-transition: max-height 0.3s;
    transition: max-height 0.3s;
}

.accordion-item__menu-item {
    padding: 5px;
    list-style: none;
}

    /*twitter твиттер*/
.twitter__item {
    padding-left: 60px;
    position: relative;
    margin-bottom: 25px;
}

.twitter__item::before {
    content: '';
    display: block;
    width: 43px;
    height: 43px;
    background: #ffffff url("../img/twitter.png") center no-repeat;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.twitter__link {
    color:  #9ae3f4;
    text-decoration: none;
}

.twitter__link:hover {
    text-decoration: underline;
}

/*contact контакты*/
.contact__list {
    padding: 0;
}

.contact-list__item {
    list-style: none;
    margin-bottom: 10px;
}

.contact-menu__link {
    color: #ffffff;
    text-decoration: none;
}

.contact-menu__link:hover {
    text-decoration: underline;
}

.contact__socials {
    display: flex;
    padding-top: 20px;
}

.social__item {
    display: block;
    border-radius: 50%;
    background-color:  #ffffff;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
}

.social__item:hover {
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
}

/*footer-bottom*/
.footer-bottom {
    background-color:  #0b4b5a;
}

.footer-bottom__text {
    color:  #8addf0;
    font-size: 1rem;
    font-weight: 400;
}

.footer-bottom__menu {
    width: 45%;
}

.footer-bottom__menu-item {
    border-right: 1px solid #8addf0;
    padding: 0 17px 0 16px;
}

.footer-bottom__menu-item:last-child {
    border: none;
}

.footer-bottom__link {
    text-decoration: none;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.footer-bottom__link:hover {
    color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}